
.Editor {
    display: flex;
    gap: 10px;
}

.Editor > input { 
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220); 
    border-radius: 7px;
}

.Editor > input:focus {
    outline: none;
    border: 2px solid rgb(37, 147, 255); 
}

.Editor > button {
    cursor: pointer;
    width: 80px;
    color: white;
    font-weight: bold;
    background-color: rgb(37, 147, 255);
    border: none;
    border-radius: 7px;
}

.Editor > button:hover {
    background-color: rgb(30, 125, 220);
}